*{
    margin: 0;
    padding: 0;
    text-align: center;
  }

/* class selector */
.red{
    background-color: red;
}
/* Id selector */
#green{
    background-color: green;
}
/* Child selector */
div > p{
     color:beige;
     background-color: black;
}
/* pseudo selector */
a:hover{
    background-color: blueviolet;
}